body {
  background-color: rgb(49, 51, 51);
  text-align: center;
}

.head-container {
  color: white;
  background-color: #6943ff;
  padding: 8px 0 10px 0;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
}

textarea {
  background-color: transparent;
  align-self: center;
  border: 2px solid #b295ff;
  border-radius: 5px;
  padding: 15px 20px;
  font-weight: 800;
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 30px;
  width: 150px;
  text-align: center;
  box-sizing: border-box;
}



#btn-el {
  align-self: center;
  margin-top: 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border: none;
  background: #ffffff;
  padding: 10px 25px;
}

#btn-el:hover {
  background-color: #b295ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.box {
  background: #ffffff;
  border-radius: 5px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  padding: 6px 0px;
}

footer{
  color: white;
}
.link{
  color: rgb(71, 163, 243);
}
